:root{
    --main-color: rgb(251,230,230);
    --text-color:rgb(0, 0, 0);
    --btn-item-color:rgb(236,208,208);
    --header-color: rgb(249,219,219) ;
    --text-hover-color: rgb(183,36,121);
    --input-color: rgb(236,208,208);
}





.input {
    height: 40px;
    width: 250px;
    border-radius: 999px;
    border: 1px solid var(--input-color);
    background-color: var(--input-color) ;
    outline: none;
    font-size: 14px;
    color: var(--text-color);
}


.btn-item {
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: var(--btn-item-color);
    border-radius: 50%;
    margin-right: 15px;
}