.container{
    width: 80%;
    margin: auto;
}
.head{
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgb(11, 129, 176);
    z-index: 1000;
}
.head-nav{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    align-items: center;
}
.logo-head{
    border: 1px solid blanchedalmond;
    border-radius: 50%;
    width: 70px;
}
.head-nav-mid{
    display: flex;
    justify-content: space-between;
    width: 50%;
    color: aliceblue;
}
.nav-mid-link{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-out{
    color: rgb(56, 148, 229);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* --------------------------------------------- */
.mySlides {
    display: none
  }
  
  img {
    vertical-align: middle;
  }
  .siz{
    height: 500px;
    border-radius: 10px;
  }
  .slider-show{
    background-color: rgb(139, 218, 255);
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: calc(100%/20.5);
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
/* -------------------------------------------- */


/* ---------------------content------------------ */
.content{
    background-color: antiquewhite;
    padding-bottom: 20px;
}

.Newsf{
    padding-top: 25px;
    display: block;
    align-items: center;
    text-align: center;
}
.newsf-title{
    font-size: 30px;
    font-weight: bold;
    color:rgb(0, 195, 205);
}
.news-cont{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.cont-text{
    margin-top: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 5;
    height: 120px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 48%;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cont-img{
    border-radius:20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 48%;
    height: 325px;
}

/* ---------------------------------------------- */

/* ---------------------footer----------------------- */
.footer {
    background-image: url(https://images.ctfassets.net/qpn1gztbusu2/2sEq4wHQk4Vbj4pJP7Dlo9/9fb20ca821203b0a35847998c1a41cff/chinese-style-fantasy-scene.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    height: 400px;
}